*__pycache__/*
ProgrammingToTeach/simulator/pkg/mesh/__pycache__/triangle.cpython-38.pyc
ProgrammingToTeach/simulator/pkg/mesh/__pycache__/square.cpython-38.pyc
ProgrammingToTeach/simulator/pkg/mesh/__pycache__/mapTriangle.cpython-38.pyc
ProgrammingToTeach/simulator/pkg/mesh/__pycache__/mapSquare.cpython-38.pyc
ProgrammingToTeach/simulator/pkg/mesh/__pycache__/item.cpython-38.pyc
ProgrammingToTeach/simulator/pkg/mesh/__pycache__/boxItens.cpython-38.pyc
ProgrammingToTeach/simulator/pkg/__pycache__/view.cpython-38.pyc
ProgrammingToTeach/simulator/pkg/__pycache__/state.cpython-38.pyc
ProgrammingToTeach/simulator/pkg/__pycache__/problem.cpython-38.pyc
ProgrammingToTeach/simulator/pkg/__pycache__/planner.cpython-38.pyc
ProgrammingToTeach/simulator/pkg/__pycache__/model.cpython-38.pyc
ProgrammingToTeach/simulator/pkg/__pycache__/maze.cpython-38.pyc
ProgrammingToTeach/simulator/pkg/__pycache__/lrta.cpython-38.pyc
ProgrammingToTeach/simulator/pkg/__pycache__/cardinal.cpython-38.pyc
ProgrammingToTeach/simulator/pkg/__pycache__/agent.cpython-38.pyc
ProgrammingToTeach/simulator/__pycache__/planListMoves.cpython-38.pyc
ProgrammingToTeach/simulator/__pycache__/mainSimulatorProgrammingBlock.cpython-38.pyc
ProgrammingToTeach/programming-blocks/__pycache__/variables.cpython-38.pyc
ProgrammingToTeach/programming-blocks/__pycache__/objectUse.cpython-38.pyc
ProgrammingToTeach/programming-blocks/__pycache__/objectThing.cpython-38.pyc
ProgrammingToTeach/programming-blocks/__pycache__/menu.cpython-38.pyc
ProgrammingToTeach/programming-blocks/__pycache__/mathClass.cpython-38.pyc
ProgrammingToTeach/programming-blocks/__pycache__/inputText.cpython-38.pyc
ProgrammingToTeach/programming-blocks/__pycache__/functions.cpython-38.pyc
ProgrammingToTeach/programming-blocks/__pycache__/button.cpython-38.pyc
ProgrammingToTeach/programming-blocks/__pycache__/bounds.cpython-38.pyc
ProgrammingToTeach/programming-blocks/__pycache__/action.cpython-38.pyc
